@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root{
    --main-pink: #05386b;
    --intense-pink: #379683;
    --deep-pink: #5CDB95;
    --pansy-purple: #8EE4AF;
    --smitten: #EDF5E1;
    --dark-gray: #1d1b1c;
}
*,*:focus,*:hover{
    outline:none;
}
*{
    margin: 0;
    padding: 0;
}
#login-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background: #5CDB95;
}
.container {
    text-align: center;
    display:block;
    color: #05386b;
}
.login-form {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    display:block;
    border-radius: 10px;
    background-color: #EDF5E1;
    padding: 20px;
    margin-top: 3em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 6px 8px rgba(0,0,0,0.11),
    0 8px 16px rgba(0,0,0,0.11);
}


::placeholder{
    color: gray;
}

.forms input[type=submit], input[type=button]{
    border: none;
    background-color:#05386b;
    border-radius: 20px;
    padding: 1em;
    font-weight: bold;
    color: #EDF5E1;
    display:inline;
}
.forms input[type=submit]:hover, input[type=button]:hover{
    background-color: #8EE4AF;
    transition: all 0.3s ease;
}
.forms input[type=radio]{
    display:inline;
}
.login-form input[type=submit]{
    border-radius: 10px;
    padding: 1em 10em 1em 10em ;
    text-align: center;
}
.privacy input{
    display:inline;
    
}
#map {
    height: 400px;
    width: 400px;
}
#map-with-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
#main-screen{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:5em;
    padding-bottom: 5em;
}

.adresses{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.adresses input[type=button]{
    margin-top:3em;
}
#main-screen, #update-delete-address-screen, #add-new-address-screen, #map-with-buttons{
    display:none;
}
.login-form input{
    display: block;
    background-color:transparent;
    padding: 1em 10em 1em 0em ;
    border-radius: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border: none;
    border-bottom: 2px solid #05386b;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
#welcome-title{
    margin-top: 2em;
}